<h1>Board: <%= @board.name %></h1>

<div class="CardGrid">
<% @board.cards.each do |card| %>
  <div class="CardActivitiesCard">
    <h4><%= card.name %></h4>
    <table>
      <tbody>
        <% card.activities.each do |activity| %>
        <tr>
            <td><%= activity.to_s %></td>
            <td><%= activity.rule.rule_id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table>
      <tbody>
        <% card.events.each do |event| %>
        <tr>
            <td><%= event.to_s %></td>
            <td><%= event.rule.rule_id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</div>
