<h1>Card: <%= @card.name %></h1>

<div class="CardExtractionGrid">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Original card</span>
      <h5> <%= @card.name %> </h5>
      <b>Description</b>
      <div>
        <%= @card.desc %>
      </div>

      <b>Checklists</b>
      <div>
      <% @card.checklists.map do |checklist| %>
        <ul>
          <% checklist.items.map do |item| %>
          <li>
          - <%= item.name %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      
      <b>Comments</b>
      <div>
        <%= @card.comments_as_conversation %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Preprocessed card</span>
      <h5> <%= @preprocessed_card.name %> </h5>
      <b>Description</b>
      <div>
        <%= @preprocessed_card.desc %>
      </div>

      <b>Checklists</b>
      <div>
        <% @preprocessed_card.checklists.map do |checklist| %>
        <ul>
          <% checklist.items.map do |item| %>
          <li>
          - <%= item.name %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      
      <b>Comments</b>
      <div>
        <%= @preprocessed_card.comments_as_conversation %>
      </div>
    </div>    
  </div>

  <div class="CardActivitiesCard">
    <h4>Final text</h4>
    <%= @final_text %>
  </div>
</div>